# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://hrenwlintzheyrylntjc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_cylgtsKx89xJo52ONQhmgg_HAip7DxU

# Stripe Configuration (if needed)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_key
STRIPE_SECRET_KEY=your_stripe_secret

# Resend API Key (if needed)
RESEND_API_KEY=re_6Tyoi4rn_61JzTueVXieDhmuuE6HSvUYx
